@using RedSocial.mvc.Interfaces
@using RedSocial.mvc.Extension
@using RedSocial.mvc.ViewModels.Dashboard
@{
    ViewData["Title"] = "Inicio";
}

@inject IProfileUserRepository profileRepository;
@inject IPostRepository postRepository;

@model PostDashboardViewModel
@{bool IsAuthenticated = User.Identity.IsAuthenticated;}
<div class="row mx-5">
    <div class="col-12 col-md-3 align-items-center d-flex flex-column">
        @if (IsAuthenticated)
        {
            var profileUser = await profileRepository.GetByIdentityUserId(User.GetIdActualIdentityUser());
            <img class="d-blox" src="@profileUser.ImageUrl" width="45rem"/>
            <span class="d-block">Hi @profileUser.Name @profileUser.LastName</span>
            <span class="text-dark">@profileUser.Description</span>
        }
    </div>
    <div class="col-12 col-md-9  d-flex flex-column align-items-center">
            @if(IsAuthenticated)
            {
            <div class="col-12 col-md-7">
                    <div class=" col-12 col-md-7 d-flex justify-content-center">
                        <form class="row g-3 border-danger" asp-controller="Dashboard" asp-action="CreatePost" enctype="multipart/form-data" method="post" style="width:26rem">
                            <div class="col-12 text-center">
                                <h2>Crear un post!</h2>
                            </div>
                            <div class="col-12">
                                <label asp-for="CreatePost.Title" class="form-label"></label>
                                <input type="text" class="form-control" asp-for="CreatePost.Title"/>
                                <span class="text-danger" asp-validation-for="CreatePost.Title"></span>

                            </div>
                            <div class="col-12">
                                <label asp-for="CreatePost.Body" class="form-label"></label>
                                <textarea class="form-control" asp-for="CreatePost.Body" rows="2"></textarea>
                                <span class="text-danger" asp-validation-for="CreatePost.Body"></span>

                            </div>
                            <div class="col-12">
                                <label asp-for="CreatePost.Image"></label>
                                <input type="file" class="form-control" asp-for="CreatePost.Image" placeholder="example" />
                                <span class="text-danger" asp-validation-for="CreatePost.Image"></span>

                            </div>
                            @if (TempData.Count > 0)
                            {
                                <div class="col-12">
                                    <span class="alert alert-danger d-block">@TempData["Error"]</span>
                                </div>
                            }
                            <div class="col-12">
                                <button class="btn btn-success col-12 px-1" type="submit">Publicar</button>
                            </div>
                        </form>
                    </div>
            </div>
            }
        @{
            if(Model.Posts?.Count != 0)
            {
                <partial name="_ProductsView" model="Model.Posts"></partial>
            }
            else
            {
                <span class="text-danger">No hay publicaciones</span>
            }
            
        }
    </div>
</div>

@functions {
}