@using RedSocial.mvc.ViewModels.Dashboard
@model List<PostViewModel>

@foreach (var post in Model)
{
    <div class="mt-3">
        <div class="col-12 d-flex flex-row align-items-center gap-3">
            <img class="d-blox rounded-circle" src="@post.ProfileUserVM.ImageUrl" width="40rem" />
            <a class="text-primary" style="text-decoration: none;" asp-action="ProfileDetails" asp-controller="Profile" asp-route-idProfile="@post.ProfileUserVM.Id">@post.ProfileUserVM.FullName </a>
            <span class="text-dark">@post.CreationTimeDelta</span>
        </div>
        <div class="col-12 d-flex flex-column gap-2">
            <span class="display-6">
                @post.Title
            </span>
            <span class="text-dark">
                @post.Body
            </span>
            <img src="@post.ImageUrl" width="300rem" />
        </div>
        <a asp-controller="Post" asp-action="PostDetails" asp-route-postId="@post.Id" class="text-primary">Ver Comentarios</a>
    </div>

}
